In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('flats.csv')
df.index = np.arange(1, len(df) + 1)
df.head()

,city,region,address,price,price_for_square_metre,total_area,floor,num_of_floors,num_of_rooms,subway,apartment_complex
1,Харків,Холодногірський,"вул. Болбочана Петра, 52",180 000 $,1 552 $,116 м²,9,10.0,3.0,Холодна гора,NaN
2,Київ,NaN,"вул. Предславинська, 42",479 000 $,5 885 $,81.4 м²,22,24.0,2.0,NaN,ЖК Французький квартал 2
3,Київ,Голосіївський,"просп. Академіка Глушкова, 9Є",76 000 $,1 551 $,50 м²,18,25.0,1.0,Іподром,ЖК Акцент
4,Київ,Шевченківський,"просп. Берестейський(Перемоги), 42А",213 500 $,2 200 $,97.6 м²,7,23.0,2.0,Шулявська,ЖК Crystal Park Tower
5,Київ,Дарницький,"наб. Дніпровська, 14Б",360 000 $,3 273 $,110 м²,7,23.0,3.0,Осокорки,ЖК RiverStone

In [2]:
df.columns = df.columns.str.capitalize()
df.columns = df.columns.str.replace('_', ' ')
df.head()

,City,Region,Address,Price,Price for square metre,Total area,Floor,Num of floors,Num of rooms,Subway,Apartment complex
1,Харків,Холодногірський,"вул. Болбочана Петра, 52",180 000 $,1 552 $,116 м²,9,10.0,3.0,Холодна гора,NaN
2,Київ,NaN,"вул. Предславинська, 42",479 000 $,5 885 $,81.4 м²,22,24.0,2.0,NaN,ЖК Французький квартал 2
3,Київ,Голосіївський,"просп. Академіка Глушкова, 9Є",76 000 $,1 551 $,50 м²,18,25.0,1.0,Іподром,ЖК Акцент
4,Київ,Шевченківський,"просп. Берестейський(Перемоги), 42А",213 500 $,2 200 $,97.6 м²,7,23.0,2.0,Шулявська,ЖК Crystal Park Tower
5,Київ,Дарницький,"наб. Дніпровська, 14Б",360 000 $,3 273 $,110 м²,7,23.0,3.0,Осокорки,ЖК RiverStone

In [3]:
df = df.rename(columns={"Price": "Price(USD)"})
df = df.rename(columns={"Price for square metre": "Price for square metre(USD)"})
df = df.rename(columns={"Total area": "Total area(m²)"})
df.head()

,City,Region,Address,Price(USD),Price for square metre(USD),Total area(m²),Floor,Num of floors,Num of rooms,Subway,Apartment complex
1,Харків,Холодногірський,"вул. Болбочана Петра, 52",180 000 $,1 552 $,116 м²,9,10.0,3.0,Холодна гора,NaN
2,Київ,NaN,"вул. Предславинська, 42",479 000 $,5 885 $,81.4 м²,22,24.0,2.0,NaN,ЖК Французький квартал 2
3,Київ,Голосіївський,"просп. Академіка Глушкова, 9Є",76 000 $,1 551 $,50 м²,18,25.0,1.0,Іподром,ЖК Акцент
4,Київ,Шевченківський,"просп. Берестейський(Перемоги), 42А",213 500 $,2 200 $,97.6 м²,7,23.0,2.0,Шулявська,ЖК Crystal Park Tower
5,Київ,Дарницький,"наб. Дніпровська, 14Б",360 000 $,3 273 $,110 м²,7,23.0,3.0,Осокорки,ЖК RiverStone

In [4]:
df.loc[:, "Price(USD)"] = df["Price(USD)"].str.replace("\u00A0$", "", regex=False)
df.loc[:, "Price(USD)"] = df["Price(USD)"].str.replace(" ", "", regex=False)
df["Price(USD)"] = df["Price(USD)"].astype("int64")
df.head()

,City,Region,Address,Price(USD),Price for square metre(USD),Total area(m²),Floor,Num of floors,Num of rooms,Subway,Apartment complex
1,Харків,Холодногірський,"вул. Болбочана Петра, 52",180000,1 552 $,116 м²,9,10.0,3.0,Холодна гора,NaN
2,Київ,NaN,"вул. Предславинська, 42",479000,5 885 $,81.4 м²,22,24.0,2.0,NaN,ЖК Французький квартал 2
3,Київ,Голосіївський,"просп. Академіка Глушкова, 9Є",76000,1 551 $,50 м²,18,25.0,1.0,Іподром,ЖК Акцент
4,Київ,Шевченківський,"просп. Берестейський(Перемоги), 42А",213500,2 200 $,97.6 м²,7,23.0,2.0,Шулявська,ЖК Crystal Park Tower
5,Київ,Дарницький,"наб. Дніпровська, 14Б",360000,3 273 $,110 м²,7,23.0,3.0,Осокорки,ЖК RiverStone

In [5]:
df["Price for square metre(USD)"] = df["Price for square metre(USD)"].str.replace(" ", "", regex=False)

def different_currency_to_usd(value):
    if "$" in value:
        return int(value.replace("$", ""))
    elif "грн" in value:
        return round(int(value.replace("грн", "").strip()) / 40)
    elif "€" in value:
        return round(int(value.replace("€", "").strip()) * 1.1)
    else:
        return int(value)

df["Price for square metre(USD)"] = df["Price for square metre(USD)"].apply(different_currency_to_usd)
df.head()

,City,Region,Address,Price(USD),Price for square metre(USD),Total area(m²),Floor,Num of floors,Num of rooms,Subway,Apartment complex
1,Харків,Холодногірський,"вул. Болбочана Петра, 52",180000,1552,116 м²,9,10.0,3.0,Холодна гора,NaN
2,Київ,NaN,"вул. Предславинська, 42",479000,5885,81.4 м²,22,24.0,2.0,NaN,ЖК Французький квартал 2
3,Київ,Голосіївський,"просп. Академіка Глушкова, 9Є",76000,1551,50 м²,18,25.0,1.0,Іподром,ЖК Акцент
4,Київ,Шевченківський,"просп. Берестейський(Перемоги), 42А",213500,2200,97.6 м²,7,23.0,2.0,Шулявська,ЖК Crystal Park Tower
5,Київ,Дарницький,"наб. Дніпровська, 14Б",360000,3273,110 м²,7,23.0,3.0,Осокорки,ЖК RiverStone

In [6]:
df["Total area(m²)"] = df["Total area(m²)"].str.replace(" м²", "", regex=False)
df["Total area(m²)"] = df["Total area(m²)"].astype("float64")
df.head()

,City,Region,Address,Price(USD),Price for square metre(USD),Total area(m²),Floor,Num of floors,Num of rooms,Subway,Apartment complex
1,Харків,Холодногірський,"вул. Болбочана Петра, 52",180000,1552,116.0,9,10.0,3.0,Холодна гора,NaN
2,Київ,NaN,"вул. Предславинська, 42",479000,5885,81.4,22,24.0,2.0,NaN,ЖК Французький квартал 2
3,Київ,Голосіївський,"просп. Академіка Глушкова, 9Є",76000,1551,50.0,18,25.0,1.0,Іподром,ЖК Акцент
4,Київ,Шевченківський,"просп. Берестейський(Перемоги), 42А",213500,2200,97.6,7,23.0,2.0,Шулявська,ЖК Crystal Park Tower
5,Київ,Дарницький,"наб. Дніпровська, 14Б",360000,3273,110.0,7,23.0,3.0,Осокорки,ЖК RiverStone

In [7]:
df = df.dropna(subset=["Floor", "Num of floors"])

In [8]:
df.loc[:, "Floor"] = df["Floor"].str.replace("Цокольний", "0", regex=False)
df["Floor"] = df["Floor"].astype("int8")
df.dtypes

City                            object
Region                          object
Address                         object
Price(USD)                       int64
Price for square metre(USD)      int64
Total area(m²)                 float64
Floor                             int8
Num of floors                  float64
Num of rooms                   float64
Subway                          object
Apartment complex               object
dtype: object

In [9]:
df["Num of floors"] = df["Num of floors"].astype("int8")
df.dtypes

City                            object
Region                          object
Address                         object
Price(USD)                       int64
Price for square metre(USD)      int64
Total area(m²)                 float64
Floor                             int8
Num of floors                     int8
Num of rooms                   float64
Subway                          object
Apartment complex               object
dtype: object

In [10]:
df["Num of rooms"] = df["Num of rooms"].astype("Int8")
df.dtypes

City                            object
Region                          object
Address                         object
Price(USD)                       int64
Price for square metre(USD)      int64
Total area(m²)                 float64
Floor                             int8
Num of floors                     int8
Num of rooms                      Int8
Subway                          object
Apartment complex               object
dtype: object

In [11]:
df.loc[:, "Apartment complex"] = df["Apartment complex"].fillna("Не ЖК")
df.head()

,City,Region,Address,Price(USD),Price for square metre(USD),Total area(m²),Floor,Num of floors,Num of rooms,Subway,Apartment complex
1,Харків,Холодногірський,"вул. Болбочана Петра, 52",180000,1552,116.0,9,10,3,Холодна гора,Не ЖК
2,Київ,NaN,"вул. Предславинська, 42",479000,5885,81.4,22,24,2,NaN,ЖК Французький квартал 2
3,Київ,Голосіївський,"просп. Академіка Глушкова, 9Є",76000,1551,50.0,18,25,1,Іподром,ЖК Акцент
4,Київ,Шевченківський,"просп. Берестейський(Перемоги), 42А",213500,2200,97.6,7,23,2,Шулявська,ЖК Crystal Park Tower
5,Київ,Дарницький,"наб. Дніпровська, 14Б",360000,3273,110.0,7,23,3,Осокорки,ЖК RiverStone