In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('flats.csv')
df.index = np.arange(1, len(df) + 1)
df.head()

,city,region,address,price,price_for_square_metre,total_area,floor,num_of_floors,num_of_rooms,subway,apartment_complex
1,Харків,Холодногірський,"вул. Болбочана Петра, 52",180 000 $,1 552 $,116 м²,9,10.0,3.0,Холодна гора,NaN
2,Київ,NaN,"вул. Предславинська, 42",479 000 $,5 885 $,81.4 м²,22,24.0,2.0,NaN,ЖК Французький квартал 2
3,Київ,Голосіївський,"просп. Академіка Глушкова, 9Є",76 000 $,1 551 $,50 м²,18,25.0,1.0,Іподром,ЖК Акцент
4,Київ,Шевченківський,"просп. Берестейський(Перемоги), 42А",213 500 $,2 200 $,97.6 м²,7,23.0,2.0,Шулявська,ЖК Crystal Park Tower
5,Київ,Дарницький,"наб. Дніпровська, 14Б",360 000 $,3 273 $,110 м²,7,23.0,3.0,Осокорки,ЖК RiverStone

In [2]:
df.columns = df.columns.str.capitalize()
df.columns = df.columns.str.replace('_', ' ')
df.head()

,City,Region,Address,Price,Price for square metre,Total area,Floor,Num of floors,Num of rooms,Subway,Apartment complex
1,Харків,Холодногірський,"вул. Болбочана Петра, 52",180 000 $,1 552 $,116 м²,9,10.0,3.0,Холодна гора,NaN
2,Київ,NaN,"вул. Предславинська, 42",479 000 $,5 885 $,81.4 м²,22,24.0,2.0,NaN,ЖК Французький квартал 2
3,Київ,Голосіївський,"просп. Академіка Глушкова, 9Є",76 000 $,1 551 $,50 м²,18,25.0,1.0,Іподром,ЖК Акцент
4,Київ,Шевченківський,"просп. Берестейський(Перемоги), 42А",213 500 $,2 200 $,97.6 м²,7,23.0,2.0,Шулявська,ЖК Crystal Park Tower
5,Київ,Дарницький,"наб. Дніпровська, 14Б",360 000 $,3 273 $,110 м²,7,23.0,3.0,Осокорки,ЖК RiverStone

In [3]:
df = df.rename(columns={"Price": "Price(USD)"})
df = df.rename(columns={"Price for square metre": "Price for square metre(USD)"})
df = df.rename(columns={"Total area": "Total area(m²)"})
df.head()

,City,Region,Address,Price(USD),Price for square metre(USD),Total area(m²),Floor,Num of floors,Num of rooms,Subway,Apartment complex
1,Харків,Холодногірський,"вул. Болбочана Петра, 52",180 000 $,1 552 $,116 м²,9,10.0,3.0,Холодна гора,NaN
2,Київ,NaN,"вул. Предславинська, 42",479 000 $,5 885 $,81.4 м²,22,24.0,2.0,NaN,ЖК Французький квартал 2
3,Київ,Голосіївський,"просп. Академіка Глушкова, 9Є",76 000 $,1 551 $,50 м²,18,25.0,1.0,Іподром,ЖК Акцент
4,Київ,Шевченківський,"просп. Берестейський(Перемоги), 42А",213 500 $,2 200 $,97.6 м²,7,23.0,2.0,Шулявська,ЖК Crystal Park Tower
5,Київ,Дарницький,"наб. Дніпровська, 14Б",360 000 $,3 273 $,110 м²,7,23.0,3.0,Осокорки,ЖК RiverStone

In [4]:
df.loc[:, "Price(USD)"] = df["Price(USD)"].str.replace("\u00A0$", "", regex=False)
df.loc[:, "Price(USD)"] = df["Price(USD)"].str.replace(" ", "", regex=False)
df["Price(USD)"] = df["Price(USD)"].astype("int64")
df.head()

,City,Region,Address,Price(USD),Price for square metre(USD),Total area(m²),Floor,Num of floors,Num of rooms,Subway,Apartment complex
1,Харків,Холодногірський,"вул. Болбочана Петра, 52",180000,1 552 $,116 м²,9,10.0,3.0,Холодна гора,NaN
2,Київ,NaN,"вул. Предславинська, 42",479000,5 885 $,81.4 м²,22,24.0,2.0,NaN,ЖК Французький квартал 2
3,Київ,Голосіївський,"просп. Академіка Глушкова, 9Є",76000,1 551 $,50 м²,18,25.0,1.0,Іподром,ЖК Акцент
4,Київ,Шевченківський,"просп. Берестейський(Перемоги), 42А",213500,2 200 $,97.6 м²,7,23.0,2.0,Шулявська,ЖК Crystal Park Tower
5,Київ,Дарницький,"наб. Дніпровська, 14Б",360000,3 273 $,110 м²,7,23.0,3.0,Осокорки,ЖК RiverStone

In [5]:
df["Price for square metre(USD)"] = df["Price for square metre(USD)"].str.replace(" ", "", regex=False)

def different_currency_to_usd(value):
    if "$" in value:
        return int(value.replace("$", ""))
    elif "грн" in value:
        return round(int(value.replace("грн", "").strip()) / 40)
    elif "€" in value:
        return round(int(value.replace("€", "").strip()) * 1.1)
    else:
        return int(value)

df["Price for square metre(USD)"] = df["Price for square metre(USD)"].apply(different_currency_to_usd)
df.head()

,City,Region,Address,Price(USD),Price for square metre(USD),Total area(m²),Floor,Num of floors,Num of rooms,Subway,Apartment complex
1,Харків,Холодногірський,"вул. Болбочана Петра, 52",180000,1552,116 м²,9,10.0,3.0,Холодна гора,NaN
2,Київ,NaN,"вул. Предславинська, 42",479000,5885,81.4 м²,22,24.0,2.0,NaN,ЖК Французький квартал 2
3,Київ,Голосіївський,"просп. Академіка Глушкова, 9Є",76000,1551,50 м²,18,25.0,1.0,Іподром,ЖК Акцент
4,Київ,Шевченківський,"просп. Берестейський(Перемоги), 42А",213500,2200,97.6 м²,7,23.0,2.0,Шулявська,ЖК Crystal Park Tower
5,Київ,Дарницький,"наб. Дніпровська, 14Б",360000,3273,110 м²,7,23.0,3.0,Осокорки,ЖК RiverStone

In [6]:
df["Total area(m²)"] = df["Total area(m²)"].str.replace(" м²", "", regex=False)
df["Total area(m²)"] = df["Total area(m²)"].astype("float64")
df.head()

,City,Region,Address,Price(USD),Price for square metre(USD),Total area(m²),Floor,Num of floors,Num of rooms,Subway,Apartment complex
1,Харків,Холодногірський,"вул. Болбочана Петра, 52",180000,1552,116.0,9,10.0,3.0,Холодна гора,NaN
2,Київ,NaN,"вул. Предславинська, 42",479000,5885,81.4,22,24.0,2.0,NaN,ЖК Французький квартал 2
3,Київ,Голосіївський,"просп. Академіка Глушкова, 9Є",76000,1551,50.0,18,25.0,1.0,Іподром,ЖК Акцент
4,Київ,Шевченківський,"просп. Берестейський(Перемоги), 42А",213500,2200,97.6,7,23.0,2.0,Шулявська,ЖК Crystal Park Tower
5,Київ,Дарницький,"наб. Дніпровська, 14Б",360000,3273,110.0,7,23.0,3.0,Осокорки,ЖК RiverStone

In [7]:
df = df.dropna(subset=["Floor", "Num of floors"])

In [8]:
df.loc[:, "Floor"] = df["Floor"].str.replace("Цокольний", "0", regex=False)
df["Floor"] = df["Floor"].astype("int8")
df.dtypes

City                            object
Region                          object
Address                         object
Price(USD)                       int64
Price for square metre(USD)      int64
Total area(m²)                 float64
Floor                             int8
Num of floors                  float64
Num of rooms                   float64
Subway                          object
Apartment complex               object
dtype: object

In [9]:
df["Num of floors"] = df["Num of floors"].astype("int8")
df.dtypes

City                            object
Region                          object
Address                         object
Price(USD)                       int64
Price for square metre(USD)      int64
Total area(m²)                 float64
Floor                             int8
Num of floors                     int8
Num of rooms                   float64
Subway                          object
Apartment complex               object
dtype: object

In [10]:
df["Num of rooms"] = df["Num of rooms"].astype("Int8")
df.dtypes

City                            object
Region                          object
Address                         object
Price(USD)                       int64
Price for square metre(USD)      int64
Total area(m²)                 float64
Floor                             int8
Num of floors                     int8
Num of rooms                      Int8
Subway                          object
Apartment complex               object
dtype: object

In [11]:
df.loc[:, "Apartment complex"] = df["Apartment complex"].fillna("Не ЖК")
df.head()

,City,Region,Address,Price(USD),Price for square metre(USD),Total area(m²),Floor,Num of floors,Num of rooms,Subway,Apartment complex
1,Харків,Холодногірський,"вул. Болбочана Петра, 52",180000,1552,116.0,9,10,3,Холодна гора,Не ЖК
2,Київ,NaN,"вул. Предславинська, 42",479000,5885,81.4,22,24,2,NaN,ЖК Французький квартал 2
3,Київ,Голосіївський,"просп. Академіка Глушкова, 9Є",76000,1551,50.0,18,25,1,Іподром,ЖК Акцент
4,Київ,Шевченківський,"просп. Берестейський(Перемоги), 42А",213500,2200,97.6,7,23,2,Шулявська,ЖК Crystal Park Tower
5,Київ,Дарницький,"наб. Дніпровська, 14Б",360000,3273,110.0,7,23,3,Осокорки,ЖК RiverStone

In [12]:
def subway_exists_or_not_indicated(row):
    if pd.isna(row["Subway"]):
        if row["City"] in ["Київ", "Харків", "Дніпро"]:
            return "Не вказано"
        else:
            return "Немає в цьому місті"
    else:
        return row["Subway"]


df.loc[:, "Subway"] = df.apply(subway_exists_or_not_indicated, axis=1)
df.iloc[100:110]

,City,Region,Address,Price(USD),Price for square metre(USD),Total area(m²),Floor,Num of floors,Num of rooms,Subway,Apartment complex
101,Київ,NaN,"вул. Івана Кочерги, 17А",43368,1181,36.73,1,24,1,Не вказано,ЖК Синергія Київ
102,Ірпінь,NaN,"вул. Достоєвського, 1В/19",48300,776,62.24,5,9,2,Немає в цьому місті,ЖК Синергія Сіті
103,Тернопіль,Дружба,"вул. Тролейбусна, 7А",53043,578,91.72,2,10,2,Немає в цьому місті,ЖК по вул. Лучаківського-Тролейбусна
104,Київ,NaN,"вул. Івана Кочерги, 17А",48742,1253,38.90,1,24,1,Не вказано,ЖК Синергія Київ
105,Хмельницький,Південно-Західний,"вул. Інститутська, 6/1А",42500,874,48.60,9,10,1,Немає в цьому місті,Не ЖК
106,Ірпінь,NaN,"вул. Матвія Донцова(Тургенєвська), 50",49000,1350,36.30,4,10,1,Немає в цьому місті,ЖК Смайл
107,Київ,Дарницький,"вул. Зарічна, 2 корпус 3",117500,2369,49.60,4,12,1,Осокорки,ЖК Славутич
108,Тернопіль,Дружба,"вул. Тролейбусна, 7А",51210,578,88.55,2,10,2,Немає в цьому місті,ЖК по вул. Лучаківського-Тролейбусна
109,Київ,NaN,"вул. Івана Кочерги, 17А",42607,1229,34.67,1,24,1,Не вказано,ЖК Синергія Київ
110,Київ,Подільський,"вул. Набережно-Хрещатицька, 21",216220,3800,56.90,1,6,1,Поштова площа,ЖК Illinsky House

In [13]:
def fill_rooms(row, df, area_range=10):
    if pd.notna(row["Num of rooms"]):
        return row["Num of rooms"]

    area_min = row["Total area(m²)"] - area_range
    area_max = row["Total area(m²)"] + area_range

    similar_rows = df[(df["Total area(m²)"] >= area_min) & (df["Total area(m²)"] <= area_max)]
    similar_rooms = similar_rows["Num of rooms"].dropna()

    if not similar_rooms.empty:
        return similar_rooms.mean()
    else:
        return np.nan


df = df.copy()

df["Num of rooms"] = df.apply(lambda row: fill_rooms(row, df), axis=1)
df["Num of rooms"] = df["Num of rooms"].round().astype("Int8")
df.iloc[420:430]

,City,Region,Address,Price(USD),Price for square metre(USD),Total area(m²),Floor,Num of floors,Num of rooms,Subway,Apartment complex
421,Одеса,Приморський,"пров. Морехідний, 2А",68000,1511,45.00,2,20,1,Немає в цьому місті,ЖК Морська симфонія
422,Житомир,Богунський,"пр. Богуна Івана, 4",73000,1177,61.38,10,10,2,Немає в цьому місті,"ЖК проїзд Івана Богуна, 5"
423,Львів,Шевченківський,"вул. Миколайчука, 17",44825,1030,43.52,1,7,1,Немає в цьому місті,Не ЖК
424,Зарванці,NaN,вул. Одеська,65000,1265,51.40,1,9,2,Немає в цьому місті,ЖК Барський
425,Луцьк,40 мікрорайон,"вул. Гордіюк, 29",56000,887,63.10,2,9,3,Немає в цьому місті,Не ЖК
426,Житомир,Богунський,"вул. Перемоги, 53",54900,579,94.80,1,12,1,Немає в цьому місті,ЖК Прем'єр-Холл
427,Дніпро,NaN,"вул. Степана Бандери(Шмідта), 15",77826,1020,76.30,2,21,2,Не вказано,ЖК Баку
428,Дніпро,NaN,"вул. Степана Бандери(Шмідта), 15",80886,1020,79.30,2,21,2,Не вказано,ЖК Баку
429,Ірпінь,NaN,"вул. Кобилянської Ольги, 1В/20",50000,877,57.00,1,9,2,Немає в цьому місті,ЖК Синергія Сіті
430,Вінниця,Староміський,вул. Соняшникова(Гладкова),43000,953,45.10,2,2,2,Немає в цьому місті,Не ЖК

In [14]:
df.loc[:, "Region"] = df["Region"].fillna("Не відомо")
df.iloc[420:430]

,City,Region,Address,Price(USD),Price for square metre(USD),Total area(m²),Floor,Num of floors,Num of rooms,Subway,Apartment complex
421,Одеса,Приморський,"пров. Морехідний, 2А",68000,1511,45.00,2,20,1,Немає в цьому місті,ЖК Морська симфонія
422,Житомир,Богунський,"пр. Богуна Івана, 4",73000,1177,61.38,10,10,2,Немає в цьому місті,"ЖК проїзд Івана Богуна, 5"
423,Львів,Шевченківський,"вул. Миколайчука, 17",44825,1030,43.52,1,7,1,Немає в цьому місті,Не ЖК
424,Зарванці,Не відомо,вул. Одеська,65000,1265,51.40,1,9,2,Немає в цьому місті,ЖК Барський
425,Луцьк,40 мікрорайон,"вул. Гордіюк, 29",56000,887,63.10,2,9,3,Немає в цьому місті,Не ЖК
426,Житомир,Богунський,"вул. Перемоги, 53",54900,579,94.80,1,12,1,Немає в цьому місті,ЖК Прем'єр-Холл
427,Дніпро,Не відомо,"вул. Степана Бандери(Шмідта), 15",77826,1020,76.30,2,21,2,Не вказано,ЖК Баку
428,Дніпро,Не відомо,"вул. Степана Бандери(Шмідта), 15",80886,1020,79.30,2,21,2,Не вказано,ЖК Баку
429,Ірпінь,Не відомо,"вул. Кобилянської Ольги, 1В/20",50000,877,57.00,1,9,2,Немає в цьому місті,ЖК Синергія Сіті
430,Вінниця,Староміський,вул. Соняшникова(Гладкова),43000,953,45.10,2,2,2,Немає в цьому місті,Не ЖК